<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>ZSU PHOTO GALLERY</title>
</head>
<body>
    <h1>ZSU Photo Gallery</h1>
    <ul class="nav">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
    </ul>

    <p>A collection of black and white photos taken on my phone.</p>

</body>
</html>