<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>ZSU PHOTO GALLERY</title>
</head>
<body>
    <h1>ZSU Photo Gallery</h1>
    <ul class="nav">
        <li id="act"><a id="act" href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
    </ul>


    {{{images}}}

</body>
</html>