<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>ZSU PHOTO GALLERY</title>
</head>
<body>
    <h1>ZSU PHOTO GALLERY</h1>

    <div class="group">
        <div class="left">
            <img src="https://mymodernmet.com/wp/wp-content/uploads/2017/11/black-and-white-photography-jason-m-peterson-16.jpg">
            <img src="https://c2.staticflickr.com/8/7579/15482110477_0b0e9e5421_b.jpg">
            <img src="http://c1.staticflickr.com/9/8788/17367410309_78abb9e5b6_b.jpg">
            <img src="https://hoyafilterusa.com/wp-content/uploads/2017/02/HOYA-BW-SCENIC-NO-FILTER.jpg">
            <img src="http://c2.staticflickr.com/6/5647/21137202535_404bf25729_b.jpg">

        </div>
        <div class="right">
            <img src="http://c1.staticflickr.com/9/8450/8026519634_f33f3724ea_b.jpg">
            <img src="http://c2.staticflickr.com/8/7218/7209301894_c99d3a33c2_h.jpg">
            <img src="http://c2.staticflickr.com/8/7231/6947093326_df216540ff_b.jpg">
            <img src="https://i.pinimg.com/236x/b9/a6/4d/b9a64d3260b1b555b785093a6a18bd61--walk-in-white-photography.jpg">
            <img src="https://2dhnizrxqvv1awj231eodql1-wpengine.netdna-ssl.com/wp-content/uploads/2018/02/blackandwhite-photography-landscape-1024x683.jpg">
        </div>
    </div>

</body>
</html>