<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>ZSU PHOTO GALLERY</title>
</head>
<body>
    <h1>ZSU PHOTO GALLERY</h1>
    <ul class="nav">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
    </ul>

    <div class="group">
        <div class="left">
            <img src="https://farm5.staticflickr.com/4747/38921293115_f9c0ffc141_h.jpg">
            <img src="https://farm9.staticflickr.com/8551/29531148764_eba2bf1af0_h.jpg">
            <img src="https://images.adsttc.com/media/images/5978/af49/b22e/38eb/8800/023b/newsletter/open-uri20170726-21694-fof4e7.jpg?1501081410">
            <img src="https://mymodernmet.com/wp/wp-content/uploads/2017/11/black-and-white-photography-jason-m-peterson-16.jpg">
            <img src="https://s3-us-west-2.amazonaws.com/artifactuprising/magento/blog/articles/2016-06-27-black-white-photo/2016-06-27-black-white-photo-03.jpg">
        </div>
        <div class="right">
            <img src="https://farm5.staticflickr.com/4538/24574614188_7ebdd737d9_h.jpg">
            <img src="https://farm2.staticflickr.com/1887/44317999982_80cdda1b47_h.jpg">
            <img src="https://farm2.staticflickr.com/1883/30499144538_b3eaae9d77_h.jpg">            
            <img src="https://i.kym-cdn.com/photos/images/original/000/519/296/e3b.jpg">
        </div>
    </div>

</body>
</html>

