<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>ZSU PHOTO GALLERY</title>
</head>
<body>
    <h1>ZSU PHOTO GALLERY</h1>
    <ul class="nav">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
    </ul>

    <div class="group">
        <div class="left">
            <img src="https://mymodernmet.com/wp/wp-content/uploads/2017/11/black-and-white-photography-jason-m-peterson-16.jpg">
            <img src="https://media.mnn.com/assets/images/2014/04/starlings.jpg">
            <img src="http://c1.staticflickr.com/9/8788/17367410309_78abb9e5b6_b.jpg">
            <img src="https://hoyafilterusa.com/wp-content/uploads/2017/02/HOYA-BW-SCENIC-NO-FILTER.jpg">
            <img src="http://c2.staticflickr.com/6/5647/21137202535_404bf25729_b.jpg">
            <img src="https://i.cbc.ca/1.4646799.1525365941!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_780/afp-us16w.jpg">
        </div>
        <div class="right">
            <img src="http://c1.staticflickr.com/9/8450/8026519634_f33f3724ea_b.jpg">
            <img src="https://c2.staticflickr.com/8/7579/15482110477_0b0e9e5421_b.jpg">
            <img src="http://c2.staticflickr.com/8/7231/6947093326_df216540ff_b.jpg">
            <img src="https://avante.biz/wp-content/uploads/Black-And-White-Photography-Desktop-Backgrounds/Black-And-White-Photography-Desktop-Backgrounds-043.jpg">
            <img src="https://s3-us-west-2.amazonaws.com/artifactuprising/magento/blog/articles/2016-06-27-black-white-photo/2016-06-27-black-white-photo-03.jpg">
        </div>
    </div>

</body>
</html>