body {
    font-family: 'Helvetica';
    height: 100%;
    width: 100%;
    margin: 0;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(to right, #cb1f1d, #9a1426, #671324, #36111a, #000000) 1 ;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

h1 {
    font-family: 'Baskerville Old Face', 'Garamond', 'Times New Roman', 'Times';
    font-style: italic;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    /* text-transform: uppercase; */
    font-weight: normal;
    font-size: 20px;
}

p {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

#about {
    font-size: 15px;
    font-weight: normal;
}

img {
    height: auto;
    margin-left: 38%;
    margin-right: 38%;
    /* margin-bottom: 1.5%; */
    width: 24%;
    filter: grayscale(100%);
}

ul.nav {
	margin-top: 0px;
	text-align: center;
	padding: 0px;
    margin-bottom: 25px;
    margin-top: 0px;
	padding: 0px;
	list-style: none;
}

ul.nav li {
  text-align: center;
  display: inline;
  font-size: 11px;
  padding-right: 5px;
}

a {
	text-decoration: none;
	color: black;
}

#act {
    text-decoration: underline;
}