body {
    font-family: 'Helvetica';
    height: 100%;
    width: 100%;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 15px;
}

.left {
    margin-left: 3%;
    margin-right: 1%;
    float: left;
    width: 46%;
}
.right {
    margin-left: 1%;
    margin-right: 3%;
    float: right;
    width: 46%;
}

img {
    height: auto;
    margin-bottom: 3%;
    width: 100%;
    filter: grayscale(100%);
}

ul.nav {
	margin-top: 0px;
	text-align: center;
	padding: 0px;
    margin-bottom: 25px;
    margin-top: 0px;
	padding: 0px;
	list-style: none;
}

ul.nav li {
  text-align: center;
  display: inline;
  font-size: 11px;
}

a {
	text-decoration: none;
	color: black;
}