body {
    font-family: 'Helvetica';
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}

.left {
    margin-left: 3%;
    margin-right: 1%;
    float: left;
    width: 46%;
}
.right {
    margin-left: 1%;
    margin-right: 3%;
    float: right;
    width: 46%;
}

img {
    height: auto;
    margin-bottom: 3%;
    width: 100%;
}